/* grid border*/
div {
    border-style: none;
    border-width: 5px;
    border-color: green;
    padding: 5px;
}

/* color for border */
.container {
    border-color: aqua;
}

/* color for border */
.row {
  border-color: yellow;
}

/* margin and border for links in box with colors on the link */
.list-group-item {
  border: 0;
  margin: 5px;
  margin-bottom: 20px;
}

/* background image */
body{
    background-image: url(http://data3.whicdn.com/images/21330323/large.gif)
}

/* carousel margin */
.carousel-inner > .item > img {
    margin: 0 auto;
}

 .navbar.transparent.navbar-inverse .navbar-inner {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}